@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
.footer__contact, .address, .footer__logo, .footer__send, .footer__icon, .client__icon, .contact__phone-svg, .contact__mail-svg, .nav__label, .mobail-menu__close-btn, .button-menu__open, .close-modal, .svg-modal, .icon-check, .texterea, .form-input, .backdrop, .item-social__icon, .logo, .work-list__button, .footer__button, .button-order, .button-send {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-transition-duration);
          transition-timing-function: var(--time-transition-duration);
}

.work-list__button, .footer__button, .button-order, .button-send {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  background-color: var(--active-link-color);
  cursor: pointer;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: none;
  min-width: 73px;
  -webkit-transition-property: color;
  transition-property: color;
}

.footer__studio, .web, .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.footer__contact, .address {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
}

:root {
  --primary-text-color: #757575;
  --title-text-color:#212121;
  --accent-color: #212121;
  --active-link-color:#2196F3;
  --primary-bg-color: #fffffF;
  --bg-color:#2F303A;
  --button-bg-color:#F5F4FA;
  --icon-fill-color:#AFB1B8;
  --card-set-gap: 30px;
  --time-transition-duration:cubic-bezier(0.4, 0, 0.2, 1);
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--accent-color);
  -webkit-transition-property: color;
  transition-property: color;
}
.logo:hover,
.logo :focus {
  color: var(--active-link-color);
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 88px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }
}

.web {
  color: var(--active-link-color);
}
@media screen and (min-width: 768px) {
  .web {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .web {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }
}

.advantages__titel {
  max-width: 270px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .advantages__titel {
    width: 450px;
    text-align: center;
  }
}

.team__titel {
  margin-bottom: 50px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500px;
  font-size: 36px;
  line-height: 19px;
  letter-spacing: 0.03em;
  line-height: 42px;
  text-align: center;
  color: var(--accent-color);
}

.team__titel--name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.client__titel {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700px;
  font-size: 36px;
  line-height: 19px;
  letter-spacing: 0.03em;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 50px;
}

.hero__title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900px;
  font-size: 26px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  max-width: 696px;
  color: var(--primary-bg-color);
  font-style: normal;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
  }
}

.skils__titel {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 19px;
  letter-spacing: 0.03em;
  line-height: 42px;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .skils__titel {
    display: none;
  }
}

.item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.item-social__list {
  margin-left: 10px;
}

.item-social__list:not(:last-child) {
  margin-left: 0;
}

.item-social__icon {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  fill: var(--icon-fill-color);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
}

.item-social__icon:hover,
.item-social__icon:hover {
  background-color: var(--active-link-color);
  fill: var(--primary-bg-color);
}

.item-social__svg {
  width: 20px;
  height: 20px;
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (max-width: 479px) {
  .modal {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    width: 370px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 448px;
  }
}

.data {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 12px;
}

.form-fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

label {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input {
  margin: 0;
  padding: 16px 20px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  outline-offset: 0;
}
.form-input:focus {
  border: 1px solid var(--active-link-color);
}

.form-fild-textarea {
  margin-bottom: 20px;
}

textarea {
  resize: none;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
}

.texterea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  outline-offset: 0;
}
.texterea:focus {
  border: 1px solid var(--active-link-color);
}

.button-send {
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  line-height: 30px;
}
.button-send:hover, .button-send:focus {
  color: var(--accent-color);
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .check {
    width: 435px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-right: auto;
    margin-left: auto;
  }
}

.icon-check {
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.checkbox:checked + .icon-check {
  background-color: var(--active-link-color);
  border-color: var(--active-link-color);
  background-image: url(../img/icon\ check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.checkbox {
  position: absolute;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  /* appearance: none; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 14px;
  -webkit-transform: translate -50%;
          transform: translate -50%;
}

.svg-modal {
  width: 18px;
  height: 18px;
  top: 50%;
}

.form-input:not(:-moz-placeholder-shown) + .svg-modal {
  fill: var(--active-link-color);
}

.form-input:not(:-ms-input-placeholder) + .svg-modal {
  fill: var(--active-link-color);
}

.form-fild:focus-within > .icon, .form-input:not(:placeholder-shown) + .svg-modal {
  fill: var(--active-link-color);
}

.treaty {
  color: var(--active-link-color);
  text-decoration: underline;
  margin-left: 5px;
}

.close-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  fill: var(--accent-color);
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-modal:hover, .close-modal:focus {
  fill: var(--active-link-color);
}

.button-order {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 216px;
  border-radius: 4px;
}
.button-order:hover, .button-order:focus {
  color: var(--accent-color);
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0;
}
.footer__button:hover, .footer__button:focus {
  color: var(--accent-color);
}
.footer__button:hover svg, .footer__button:focus svg {
  fill: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .footer__button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 12px;
  }
}

.work-list__button {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--button-bg-color);
  letter-spacing: 0.03em;
  height: 38px;
  left: 593px;
  top: 174px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.work-list__button:focus, .work-list__button:hover {
  background-color: var(--active-link-color);
  color: var(--primary-bg-color);
}

.card-set {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.card-set__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  max-width: 450px;
  border: 1px solid #EEEEEE;
  background-size: contain;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    width: 354px;
  }
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .card {
    -ms-flex-preferred-size: calc((100% - 105px) / 3);
        flex-basis: calc((100% - 105px) / 3);
    width: 366px;
  }
}

.card-set__portfolio {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-set__name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
}

.card-set__content {
  padding: 20px 24px;
}
@media screen and (min-width: 768px) {
  .card-set__content {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__content {
    width: 370px;
  }
}

.card-set__overley {
  position: relative;
  overflow: hidden;
}
.card-set__overley::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms var(--time-transition-duration);
  transition: -webkit-transform 250ms var(--time-transition-duration);
  transition: transform 250ms var(--time-transition-duration);
  transition: transform 250ms var(--time-transition-duration), -webkit-transform 250ms var(--time-transition-duration);
}
.card-set__overley::after {
  position: absolute;
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.03em;
  line-height: 1.56;
  color: var(--primary-bg-color);
  top: 0;
  left: 0;
  padding: 63px 24px;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms var(--time-transition-duration);
  transition: -webkit-transform 250ms var(--time-transition-duration);
  transition: transform 250ms var(--time-transition-duration);
  transition: transform 250ms var(--time-transition-duration), -webkit-transform 250ms var(--time-transition-duration);
}

.card-set__item:hover .card-set__overley::after,
.card-set__item:focus .card-set__overley:focus:after,
.card-set__item:hover .card-set__overley::before,
.card-set__item:focus .card-set__overley:focus::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.button-menu__open {
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.button-menu__open:hover svg, .button-menu__open:focus svg {
  color: var(--active-link-color);
  fill: var(--active-link-color);
}
@media screen and (min-width: 768px) {
  .button-menu__open {
    display: none;
  }
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobail-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  background-color: var(--primary-bg-color);
  z-index: 10000;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.mobail-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (min-width: 768px) {
  .mobail-menu {
    display: none;
  }
}

.mobail-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobail-menu__close-btn:hover svg, .mobail-menu__close-btn:focus svg {
  color: var(--active-link-color);
  fill: var(--active-link-color);
}

.header-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 296px;
}

.header-social__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.header-social__item:not(:last-child) {
  margin-right: 20px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.mobail-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .mobail-menu__container {
    display: none;
  }
}

.hero {
  max-width: 1600px;
  background-image: url(../img/Img\ Overlay.png), url(../img/hero/Hero480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  padding: 200px 0;
  background-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/Img\ Overlay.png), url(../img/hero/hero480@2.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: url(../img/Img\ Overlay.png), url(../img/hero/hero768.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/Img\ Overlay.png), url(../img/hero/hero768@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/Img\ Overlay.png), url(../img/hero/hero1200.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/Img\ Overlay.png), url(../img/hero/hero1200@2x.jpg);
  }
}

.hero__box {
  text-align: center;
  padding: 0;
}

.header {
  max-width: 1600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    width: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-right: 0px;
  }
}

.nav__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 0;
  padding-left: 0;
  -webkit-transition-property: color;
  transition-property: color;
}
.nav__label:hover, .nav__label:focus {
  color: var(--active-link-color);
}
@media screen and (max-width: 767px) {
  .nav__label {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500px;
    font-size: 40px;
    line-height: 19px;
    letter-spacing: 0.03em;
    line-height: 46.88px;
    letter-spacing: 2%;
  }
}

.nav__label--active {
  color: var(--active-link-color);
  position: relative;
}
.nav__label--active::after {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--active-link-color);
  bottom: -4px;
  right: 0.6px;
}
@media screen and (max-width: 767px) {
  .nav__label--active::after {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.connection {
  display: block;
}
@media screen and (min-width: 768px) {
  .connection {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: auto;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 312px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item {
    max-width: 148px;
    padding: 0;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__item-phone {
  margin-bottom: 32px;
}

.contact__item-mail {
  width: 116px;
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .contact__item-mail {
    width: 162px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact:hover, .contact:focus {
  color: var(--active-link-color);
}
.contact:hover svg, .contact:focus svg {
  color: var(--active-link-color);
  fill: var(--active-link-color);
}
@media screen and (min-width: 1200px) {
  .contact {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__mail-svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}
@media screen and (max-width: 767px) {
  .contact__mail-svg {
    display: none;
  }
}
.contact__mail-svg:hover, .contact__mail-svg:focus {
  fill: var(--active-link-color);
}

.contact__phone-svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}
@media screen and (max-width: 767px) {
  .contact__phone-svg {
    display: none;
  }
}
.contact__phone-svg:hover, .contact__phone-svg:focus {
  fill: var(--active-link-color);
}

@media screen and (max-width: 767px) {
  .phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-bottom: 32px;
  }
}

.mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 94px;
  padding-bottom: 0;
  padding-bottom: 60px;
  margin: -15px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.advantages__item {
  max-width: 450px;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    width: 270px;
  }
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 450px;
  height: 120px;
  background-color: var(--button-bg-color);
  margin-bottom: 30px;
}

.advantages__icon-svg {
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 767px) {
  .advantages__icon-svg {
    left: 200px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__icon-svg {
    left: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon-svg {
    left: 100px;
  }
}

.advantages__text {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .skils {
    display: none;
  }
}

.skils__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--card-set-gap);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 73px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
  border-radius: 4px;
}

.skils__card {
  position: relative;
}

.skils__card--decstop {
  position: relative;
}

.skils__card--decstop::before {
  position: absolute;
  content: "";
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transform: translate(0%, 225px);
          transform: translate(0%, 225px);
}

.skils__card-mobail {
  position: relative;
}

.skils__card--mobail::before {
  position: absolute;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transform: translate(0%, 225px);
          transform: translate(0%, 225px);
}

.skils__card--disain {
  position: relative;
}

.skils__card--disain::before {
  position: absolute;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transform: translate(0%, 225px);
          transform: translate(0%, 225px);
}

.skils__card--decstop::after {
  position: absolute;
  content: "Десктопні додатки";
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  -webkit-transform: translate(70%, -40px);
          transform: translate(70%, -40px);
}

.skils__card--mobail::after {
  content: "Мобільні додатки";
  position: absolute;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  -webkit-transform: translate(80%, -40px);
          transform: translate(80%, -40px);
}

.skils__card--disain::after {
  content: "Дизайнерські рішення";
  position: absolute;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  -webkit-transform: translate(50%, -40px);
          transform: translate(50%, -40px);
}

.team {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--button-bg-color);
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .team {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  max-width: 450px;
  margin: 15px;
  background-color: var(--primary-bg-color);
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team__item .team__card {
  margin-top: 30px;
}

.team__text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.client {
  padding-bottom: 94px;
  margin: -15px;
}

.client__list {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client__item {
  margin: 15px;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 360px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icon-fill-color);
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
}
.client__icon:focus, .client__icon:hover {
  fill: var(--active-link-color);
  border: 1px solid var(--active-link-color);
}

.client__logo {
  width: 106px;
  height: 60px;
}

footer {
  width: 100%;
  margin: 0px;
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  position: relative;
}
@media screen and (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    display: block;
  }
}

.footer__list--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--primary-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50px;
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
}

.footer__list--social {
  margin-left: 10px;
}

.footer__list--social:nth-child(1) {
  margin-left: 0;
}

.footer__icon:focus,
.footer__icon:hover {
  background-color: var(--active-link-color);
}

.footer__svg {
  width: 20px;
  height: 20px;
  padding: 0;
}

.footer__label {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.footer__subscription {
  width: 100%;
  background-color: var(--bg-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscry {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 0;
  outline: 0;
  outline-offset: 0;
  background-color: var(--bg-color);
}
@media screen and (min-width: 768px) {
  .subscry {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscry {
    position: relative;
    width: 358px;
    height: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__label {
  margin-bottom: 20px;
  margin-left: 0;
}

.footer__send {
  width: 24px;
  height: 24px;
  fill: var(--primary-bg-color);
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .footer__send {
    width: 24px;
    height: 24px;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__studio {
  color: var(--primary-bg-color);
}

.footer__studio:hover,
.footer__studio:focus {
  color: var(--active-link-color);
}

.address {
  color: var(--primary-bg-color);
}
.address:hover, .address:focus {
  color: var(--active-link-color);
}
@media screen and (min-width: 365px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--active-link-color);
}

.join {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-left: auto;
  }
}
@media screen and (min-width: 1600px) {
  .join {
    margin-left: 70px;
    margin-top: 0;
  }
}

.footer__text {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 1200px) {
  .footer__text {
    text-align: start;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 50px;
  border-radius: 4px;
  width: 346px;
}
@media screen and (min-width: 768px) {
  .work-list {
    width: 585px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.work-list .item {
  min-width: 73px;
  margin-right: 8px;
  margin-bottom: 15px;
}
.work-list .item:nth-child(4), .work-list .item:nth-child(5) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .work-list .item {
    margin-bottom: 0;
  }
}

.menu-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}/*# sourceMappingURL=main.css.map */