.card-set{
   
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (max-width:767px) {
      justify-content: center;
    }
    @media screen and (min-width:768px) {
      margin: -15px;
    }
   
}   
  
.card-set__item{
  
    display: flex;
    @media screen and (max-width:767px) {
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
   
    
    
 }
   
.card{
      max-width: 450px;
      border: 1px solid #EEEEEE;
      background-size: contain;
      
      @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc((100% - 4 * 15px) / 2);
        width: 354px;
      }
      
      &:hover, 
      &:focus{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

   

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 7 * 15px) / 3);
      
   }

    
 }
   
   .card-set__portfolio{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */
    
    letter-spacing: 0.06em;
    
    color: var(--title-text-color);
  
  }
  
  .card-set__name{
    @include textFont (400px, 16px );
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
  }
  .card-set__content{
    padding: 20px 24px;
  

   @media screen and (min-width: 768px) {
     width: 310px;
   }

   @media screen and (min-width: 1200px) {
     width: 370px;
   }
    
  }


  