.header-social__list{
    max-width: 296px;
    margin-right: 0;
    display: none;
    @media screen and (min-width:480px) {
        display: flex;
    }
}

.header-social__item{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #2196F3;
}


.header-social__item:not(:last-child){
    margin-right: 20px;
}

.line{
    fill: black;
}

.header-social__list-320{
    display: flex;
    @media screen and (min-width:480px) {
        display: none;
    }
}