%transition{
    transition-duration: 250ms;
    transition-timing-function: var(--time-transition-duration) 
}

%button{
    @include textFont (700px, 16px);
    color: var(--primary-bg-color) ;
    background-color: var(--active-link-color) ;
    cursor: pointer;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border: none;
    min-width: 73px;
    transition-property: color;
    @extend %transition; 
}
%logoFont{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.2;
}
%textFont{
    @include textFont (400px, 14px);
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}

